<%- model_class = Holiday -%>
<div style="width: 100%; padding: 0px 20px 40px 20px;">
<div class="page-header">
  <h1>祭日マスタメンテナンス</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>祭日名</th></th>
      <th><div class="text-center">編集　削除</div></th>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.yyyy %>/<%= holiday.mm %>/<%= holiday.dd %></td>
        <td><%= holiday.name %></td>
        <td><div class="text-center">
          <%= link_to "　　", edit_holiday_path(holiday), :class => 'btn btn-default btn-xs' %>
          <%= link_to "　　", holiday_path(holiday),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "入力", new_holiday_path, :class => 'btn btn-primary' %>

</div>