<%= form_for @kintai, :html => { :class => "form-horizontal kintai" } do |f| %>

  <% if @kintai.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@kintai.errors.count, "error") %> prohibited this kintai from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @kintai.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div style="display:none">
  <div class="form-group">
    <%= f.label "社員番号：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :shain_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shain_no) %>
  </div>
  <div class="form-group">
    <%= f.label "年：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :yyyy, :class => 'form-control' %>
    </div>
    <%=f.error_span(:yyyy) %>
  </div>
  <div class="form-group">
    <%= f.label "月：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :mm, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mm) %>
  </div>
  <div class="form-group">
    <%= f.label "日：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :dd, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dd) %>
  </div>
</div>  
  <div class="form-group">
    <%= f.label "勤怠区分：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :kintai_kbn_cd, :class => 'form-control' %>
    </div>
    <%=f.error_span(:kintai_kbn_cd) %>
  </div>
  
  <div class="form-group">
    <%= f.label "始業時刻：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2 clockpicker">
      <%= f.text_field :start_time, :class => 'form-control' %>
    </div>
    <script type="text/javascript">
    $('.clockpicker').clockpicker({autoclose: true});
    </script>
    <%=f.error_span(:start_time) %>
  </div>
  
  <div class="form-group">
    <%= f.label "終業時刻：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2 clockpicker">
      <%= f.text_field :end_time, :class => 'form-control' %>
    </div>
    <script type="text/javascript">
    $('.clockpicker').clockpicker({autoclose: true});
    </script>
    <%=f.error_span(:end_time) %>
  </div>
  
  <div class="form-group">
    <%= f.label "所定時間：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :normal_hours, :class => 'form-control' %>
    </div>
    <%=f.error_span(:normal_hours) %>
  </div>
  <div class="form-group">
    <%= f.label "休憩時間：", :class => 'control-label col-sm-2 col-md-2 col-lg-2' %>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= f.text_field :break_hours, :class => 'form-control' %>
    </div>
    <%=f.error_span(:break_hours) %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-lg-10">
      <%= f.submit "OK", :class => 'btn btn-primary' %>
      <%= link_to 'キャンセル', kintais_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
