<%- model_class = Kintai -%>
<div style="width: 100%; padding: 0px 10px 0px 20px;">
<div class="page-header">
  <h1>勤怠入力</h1>
</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr style="background-color: skyblue">
      <th width="80px" style="min-width:80px;"><div class="text-center">日付</div></th>
      <th width="70px" style="min-width:80px;"><div class="text-center">区分</div></th>
      <th style="min-width:100px;"><div class="text-center">始業時間</div></th>
      <th style="min-width:100px;"><div class="text-center">就業時間</div></th>
      <th class="hidden-xs hidden-sm hidden-md" style="min-width:100px;"><div class="text-center">所定時間</div></th>
      <th class="hidden-xs hidden-sm hidden-md" style="min-width:100px;"><div class="text-center">休憩時間</div></th>
      <th style="min-width:100px;"><div class="text-center">勤務時間</div></th>
      <th style="min-width:100px;"><div class="text-center">残業時間</div></th>
      <!-- <th><div class="text-center">id</div></th> -->
      <th width="50px" style="min-width:50px;"><div class="text-center">入力</div></th>
    </tr>
  </thead>
  <tbody>
    <% @mkintai.each do |mkin| %>
      <% if mkin[1]["line_bk_color"] == "" then %>
      <tr>
      <% else %>
      <tr style="background-color: <%= mkin[1]["line_bk_color"] %>">
      <% end %>
        <% if mkin[1]["holiday_name"] == "" then %>
          <td><div class="text-center"><%= mkin[1]["dw"] %></div></td>
        <% else %>
          <td><div class="text-center" Title="<%= mkin[1]["holiday_name"] %>"><%= mkin[1]["dw"] %></div></td>
        <% end %>
        <td><div class="text-center"><%= mkin[1]["kintai_kbn"] %></div></td>
        <td><div class="text-center"><%= mkin[1]["start_time"] %></div></td>
        <td><div class="text-center"><%= mkin[1]["end_time"] %></div></td>
        <td class="hidden-xs hidden-sm hidden-md"><div class="text-center"><%= mkin[1]["normal_hours"] %></div></td>
        <td class="hidden-xs hidden-sm hidden-md"><div class="text-center"><%= mkin[1]["break_hours"] %></div></td>
        <td><div class="text-center"><%= mkin[1]["working_hours"] %></div></td>
        <td><div class="text-center"><%= mkin[1]["extra_hours"] %></div></td>
        <!-- <td><div class="text-center"><%= mkin[1]["id"] %></div></td> -->
        <td>
          <div class="text-center">
            <% if mkin[1]["id"] == "" %>
              <%= link_to '　', new_kintai_by_dd_path(dd: mkin[1]["dd"]), :class => 'btn btn-default btn-xs' %>
            <% else %>
              <%= link_to '　', edit_kintai_path(mkin[1]["id"]), :class => 'btn btn-default btn-xs' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr style="background-color: pink">
      <td><div class="text-center">要出勤日数</div></td>
      <td><div class="text-center">出勤日数</div></td>
      <td></td>
      <td></td>
      <td class="hidden-xs hidden-sm hidden-md"></td>
      <td class="hidden-xs hidden-sm hidden-md"></td>
      <td><div class="text-center">合計勤務時間</div></td>
      <td><div class="text-center">合計残業時間</div></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><div class="text-center"><%= @defoult_working_days_cnt %></div></td>
      <td><div class="text-center"><%= @working_days_cnt %></div></td>
      <td></td>
      <td></td>
      <td class="hidden-xs hidden-sm hidden-md"></td>
      <td class="hidden-xs hidden-sm hidden-md"></td>
      <td><div class="text-center"><%= @working_hours_sum %></div></td>
      <td><div class="text-center"><%= @extra_hours_sum %></div></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
