<%- model_class = Kintai -%>
<div class="page-header">
  <h1><%= @show_kintai["ymdw"] %> 勤怠</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>勤怠区分:</strong></dt>
  <dd><%= @show_kintai["kintai_kbn"] %></dd>
  <dt><strong>始業時間:</strong></dt>
  <dd><%= @show_kintai["start_time"] %></dd>
  <dt><strong>終業時間:</strong></dt>
  <dd><%= @show_kintai["end_time"] %></dd>
  <dt><strong>規定時間:</strong></dt>
  <dd><%= @show_kintai["normal_hours"] %></dd>
  <dt><strong>休憩時間:</strong></dt>
  <dd><%= @kintai.break_hours %></dd>
  <dt><strong>勤務時間:</strong></dt>
  <dd><%= @show_kintai["working_hours"] %></dd>
  <dt><strong>残業時間:</strong></dt>
  <dd><%= @show_kintai["extra_hours"] %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              kintais_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_kintai_path(@kintai), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              kintai_path(@kintai),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
