<%= form_for @shain, :html => { :class => "form-horizontal shain" } do |f| %>

  <% if @shain.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@shain.errors.count, "error") %> prohibited this shain from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @shain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:no) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :name_kana, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name_kana, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name_kana) %>
  </div>
  <div class="form-group">
    <%= f.label :login_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :login_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:login_id) %>
  </div>
  <div class="form-group">
    <%= f.label :login_pw, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :login_pw, :class => 'form-control' %>
    </div>
    <%=f.error_span(:login_pw) %>
  </div>
  <div class="form-group">
    <%= f.label :shain_kbn, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :shain_kbn, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shain_kbn) %>
  </div>
  <div class="form-group">
    <%= f.label :zaiseki_flg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :zaiseki_flg, :class => 'form-control' %>
    </div>
    <%=f.error_span(:zaiseki_flg) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shains_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
