<%- model_class = Shain -%>
<div style="width: 100%; padding: 0px 20px 40px 20px;">
<div class="page-header">
  <h1>社員マスタメンテナンス</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><div class="text-center">社員番号</div></th>
      <th>氏名</th>
      <th>氏名かな</th>
      <th>ログインID</th>
      <th>ログインPW</th>
      <th><div class="text-center">社員区分</div></th>
      <th><div class="text-center">在籍</div></th>
      <th><div class="text-center">編集　削除</div></th>
    </tr>
  </thead>
  <tbody>
    <% @shains.each do |shain| %>
      <tr>
        <td><div class="text-center"><%= shain.no %></div></td>
        <td><%= shain.name %></td>
        <td><%= shain.name_kana %></td>
        <td><%= shain.login_id %></td>
        <td><%= shain.login_pw %></td>
        <td><div class="text-center"><%= shain.shain_kbn %></div></td>
        <td><div class="text-center"><%= shain.zaiseki_flg == true ? '○' : '×' %></div></td>
        <td><div class="text-center">
          <%= link_to "　　",
                      edit_shain_path(shain), :class => 'btn btn-default btn-xs' %>
          <%= link_to "　　",
                      shain_path(shain),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shain_path,
            :class => 'btn btn-primary' %>
</div>
